<link rel="stylesheet" href="css/style.css">

<nav>

<h1> Fantasy Land </h1>


<% if (loginstate===false) {%>

 <% console.log(loginstate, loginstate===false) %>

<h4> Login </h4>

<form action="/" method="POST">
  <input type="email" name="email" />
  <input type="password" name="password" />
  <button type="submit">login</button>
</form>

<% loginstate=true, console.log(loginstate,typeof email === "undefined")} else { %>

<p> Welcome <% if (typeof email === "undefined") {} else {email} %> </p>

<form action="/" method="POST">
  <button type="submit">logout</button>
</form>

<% } %>

<h4> Faites votre recherche </h4>

<form action="/" method="GET">
    <input type="text" name="searchText" />
    <button type="submit">Rechercher</button>

  </form>


  <h4> ChatRoom </h4>

<form action="/" method="POST">


    <input type="text" name="message" required/>

    <button type="submit">Envoyer</button>

  </form>


 <% if (typeof message!=='undefined')console.log(message)  %>  
 

  <% if (typeof message!='undefined') { %>

    <div class="articlecontainer"> <%=email %><%=message %></div>

    <% } %>


  <% if (typeof searchText!='undefined') {let datas = dataset.filter(e => (e.title.toLowerCase()).includes(searchText.toLowerCase())); %>
  
      <p class="result"> <%=datas.length %> Result(s) for: "<%=searchText %>"</p>


</nav>



    <div class="articlecontainer">

<% for (let data of datas) {%>

        <div class="article">

         <p> <img src="<%= data.image_src%> " alt=""></p>

         <p> <%= data.title%> by <a href=#> <%= data.director%></a> </p>

         </div>

        <% }}%>

    </div>

    <nav class="adds">  


         <% if((typeof members !='undefined')&&(members.slice(-2, -1).toString()!=members.slice(-1).toString()))  {%>
        
    <p> <%= members.slice(-2, -1).toString()%> "has been deconnected"</p>

    <p> <%= members.slice(-1).toString()%> "has been connected"</p>

    <% } %>



   <% if(typeof messages !='undefined') {for(let count =0; count < messages.length; count++) {%>
        
    <% console.log(members[count],messages[count],members,messages) %>

    <p><%= members[count]%> says <%= messages[count] %> </p>

<% }} %>

</nav>